{% extends "task/base_task.html" %}

{% block title %}{{ title }}: {{ task.doer.first_name }} {{ task.doer.last_name }}{% endblock %}

{% block content %}
<div class="container bg-primary mt-5 p-2 rounded">

    {% include 'partials/window_history_back.html' %}
    <div class="col-12">
        <h4 class="text-center my-4 bg-info rounded">
            {{ title }} {{ task.doer.first_name }} {{ task.doer.last_name }}
        </h4>
    </div>
    
    <div class="container justify-content-center">
        <div class="row mb-5">
        {% if page_obj %}
            {% for task in page_obj %} 
            
            <div class="col-md-6 col-sm-12 text-white">
                <ul class="list-unstyled">
                
                    
                    <li><strong>Створено:</strong></br> {{ task.created_at }}</li>
                    <li class="bg-info p-2 m-2 rounded">
                        {{ task.task_description }}
                    </li>
                    <li>
                        <strong>
                            Bиконати до:</br>
                            {% if task.deadline %}
                                <span class="text-warning fw-bold">{{ task.deadline }}</span>
                            {% else %}
                            <span class="text-warning fw-bold">Завдання призупинено</span>
                            {% endif %}
                        </strong>
                    </li>
                    <li>
                        <strong>Статус:</strong></br>
                        <a href="{% url 'task:task_update_status' pk=task.id %}" class="btn btn-success">
                            {{ task.get_status_display }}
                        </a>
                    </li>
                    
                    <hr class="bg-primary mt-3 mb-2" style="border-top: 3px double;">
                {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
            <h5 class="bg-info ml-2 p-1 rounded">Завдання немає.</h6>
        {% endif %}
    </div> 

    {% include "partials/paginator.html" %}
</div>
{% endblock %}