{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container bg-primary mt-5 p-2 rounded">

    {% include "partials/window_history_back.html" %}

    <div class="col-12">
        <h4 class="text-center my-2 fs-10">{{ title }}</h4>
    </div>

    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 text-white bg-dark rounded">
                {% if page_obj %}
                    {% for electrician in page_obj %} 
                        <ul class="list-unstyled">

                            <li class="text-info">
                                {{ electrician.first_name }} {{ electrician.last_name }}
                            </li>
                            <li>{{ electrician.cell_number }}</li>

                            {% if electrician.email %}
                                <li>{{ electrician.email }}</li>
                            {% else %}
                                <li>Email не вказано</li>
                            {% endif %}

                            <li>
                                <a href="{% url 'users:update_admission_group' electrician.id %}"
                                   class="border border-white border double text-white my-2 p-1 rounded">
                                    {{ electrician.admission_group }}
                                </a>
                            </li>

                            <li>{{ electrician.get_role_display }}</li>
                        </ul>

                        <hr class="w-75 bg-primary mt-3 mb-2" style="border-top: 3px dotted;">
                    {% endfor %}
                {% else %}
                    <p>Електриків не зареєстровано.</p>
                {% endif %}
            </div>
        </div>
    </div> 

    {% include 'partials/paginator.html' %}
</div>

{% endblock %}