{% extends 'users/base_users.html' %}

{% block title %}Зміна паролю{% endblock %}

{% block content %}
<div class="container"> 
    <h2 class="mt-5">Зміна паролю</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Зміни пароль</button>
            <a class="fw-bold ml-auto" href="{% url 'users:employee_profile' request.user.id %}">Назад у профіль</a>
        </div>       
    </form> 
</div>
    
{% endblock %}