{% extends "work_tower/base_tower.html" %}

{% block title %}Список двигунів{% endblock %}

{% block content_area %}

    {% include "partials/window_history_back.html" %}

    <div class="col-12">
        <h4 class="text-center my-4 fs-10">Список двигунів</h4>
    </div>

    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 text-white bg-dark rounded">
                {% if page_obj %}
                    {% for motor in page_obj %} 
                        <ul>
                            <li class="text-info"><strong>Потужнісь: </strong> {{ motor.power }}кВт.</li>
                            <li><strong>Об. / хв.:</strong> {{ motor.round_per_minute }}</li>
                            <li><strong>Тип з'єднання: </strong> {{ motor.connection }}</li>
                            <li><strong>І, номінальне:</strong> {{ motor.amperage }}A</li>
                        </ul>
                        <hr class="w-75 bg-primary mt-3 mb-2" style="border-top: 3px dotted;">
                    {% endfor %}
                {% else %}
                    <p>Двигунів немає.</p>
                {% endif %}
            </div>
        </div>
    </div> 

    {% include 'partials/paginator.html' %}

{% endblock %} 